@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #1c1c1e;
  --color-segundary: #8a2be2;
  --color-font: #ffffff;
}

body {
  background-color: #1c1c1e;
}

header {
  width: 100%;
  height: 5rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  position: relative;
  z-index: 10;
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 80px;
}

.navbar-container span {
  display: none;
  color: var(--color-font);
  font-size: 2rem;
  cursor: pointer;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.menu-container li {
  margin: 0 1rem;
}

.menu-container a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--color-font);
  transition: color 0.3s;
}

.menu-container a:hover {
  color:var(--color-segundary);
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.img-container img {
  width: 100%;
}

.background-img {
  background-color: var(--color-segundary);
  border-radius: 100%;
  width: 500px;
  height: 500px;
}

.text-container {
  width: 50%;
  padding: 2rem;
}

.text-container p {
  font-size: var(--color-font);
  font-size: 50px;
  font-weight: 500;
  color: var(--color-font);
}

.text-container strong {
  font-weight: bold;
  color: var(--color-segundary);
}

#auto-typing p {
  overflow: hidden;
  width: fit-content;
  animation: blink 0.6s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.about-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.about-title {
  padding: 1rem;
  text-align: center;
}

.about-title h1 {
  font-size: 50px;
  font-weight: 400;
  color: var(--color-font);
}

.about-title p {
  color: var(--color-segundary);
  font-size: 20px;
  font-weight: 300;
}

.about-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.about-text p {
  color: var(--color-font);
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media img {
  width: 35px;
  margin: 0 10px;
}

.about-img {
  width: 50%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-img-01 {
  background-color: var(--color-segundary);
  border-radius: 100%;
  width: 400px;
  height: 400px;
}

.about-img img {
  width: 400px;
  height: 400px;
}

.experience-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.experience-title {
  text-align: center;
}

.experience-title h1 {
  font-size: 50px;
  font-weight: 400;
  color: var(--color-font);
}

.experience-title p {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-segundary);
}

.timeline-container {
  top: 4rem;
  position: relative;
  max-width: 100%;
}

.timeline-container::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 600px;
  border-radius: 5px;
  left: 488px;
  top: 40px;
  background: var(--color-font);
}

.timeline-container .box {
  margin: 2rem;
  color: var(--color-font);
  position: relative;
}

.box:nth-child(odd) {
  padding-left: 500px;
  text-align: left;
}

.box:nth-child(even) {
  padding-right: 500px;
  text-align: right;
}

.box:last-child {
  margin-bottom: 0px;
}

.points {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-segundary);
  position: absolute;
  left: 448px;
  z-index: 1;
}

.year {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-segundary);
  margin-bottom: 15px;
}

.year:nth-child(2) {
  top: 50px;
}

.content {
  padding: 20px;
  background: #2f2f31;
  width: 400px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 15px 5px #00000017;
}

.content h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-segundary);
}

.content strong {
  font-size: 12px;
  margin: 10px 0;
  font-weight: 500;
  font-style: italic;
}

.content p {
  font-size: 12px;
  font-weight: 200;
}

.techs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 4rem;
}

.techs-title {
  text-align: center;
}

.techs-title h1 {
  font-size: 50px;
  font-weight: 400;
  color: var(--color-font);
}

.techs-title p {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-segundary);
}

.techs-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.cards {
  width: 300px;
  height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px solid #8a2be2;
  border-radius: 10px;
}

.cards h4 {
  font-size: 25px;
  font-weight: 300;
  color: var(--color-font);
}

.cards p {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: 200;
  line-height: 16px;
  margin: 15px 0;
  color: var(--color-font);
}

.img-techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-techs img {
  width: 40px;
  margin: 8px;
  object-fit: contain;
}

.projects-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.projects-title {
  text-align: center;
}

.projects-title h1 {
  font-size: 50px;
  font-weight: 400;
  color: var(--color-font);
}

.projects-title p {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-segundary);
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: 1px solid var(--color-segundary);
  border-radius: 10px;
  margin: 15px;
}

.card-project img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card-project h1 {
  text-align: center;
  color: var(--color-segundary);
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.card-project p {
  text-align: center;
  color: var(--color-font);
  font-size: 12px;
  font-weight: 200;
  padding: 10px;
}

.card-project a {
  width: 200px;
  text-align: center;
  background: var(--color-segundary);
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 12px;
  transition: 0.3s ease-in-out;
}

.card-project a:hover {
  background: #a14ef0;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

footer h3 {
  color: var(--color-font);
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
}
