@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Archivo", sans-serif;
}

.hamburger {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}

.header-container {
  background: #333eee;
  width: 100%;
  height: 4rem;
  padding: 3rem;
  display: flex;
  align-items: center;
}

.nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo img {
  width: 200px;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-container li {
  padding: 10px;
}

.links-container li a {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media img {
  margin: 0 10px;
  width: 35px;
}

.social-media img:nth-child(3) {
  width: 40px;
}

.main-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 10px;
}

.text-content h3 {
  color: white;
  font-size: 60px;
}

.text-content p {
  margin: 35px 0px;
  color: #ababab;
  font-size: 20px;
}

.text-content strong {
  color: #333eee;
}

.btn-service {
  width: 200px;
  background: #333eee;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.btn-service a {
  color: #ffff;
  font-size: 20px;
}

.btn-service:hover {
  background: #101cc4bb;
}

.img-content {
  padding: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-content img {
  width: 100%;
}

.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.about-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1919;
  padding: 50px;
  border-radius: 10px;
}

.img-person {
  width: 50%;
  padding: 20px;
}
.img-person img {
  width: 100%;
  border-radius: 100%;
}

.about-text {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text h5 {
  color: #333eee;
  font-size: 25px;
  font-weight: 500;
}

.about-text h3 {
  font-size: 60px;
  color: #ffff;
  font-weight: 500;
  margin: 10px 0;
}

.about-text h6 {
  font-size: 20px;
  color: #ababab;
  font-weight: 300;
}

.about-text p {
  color: #ababab;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px;
}

.social-media-icons img {
  width: 50px;
}

.social-media-icons img:nth-child(3) {
  width: 60px;
}

.skills-container {
  background: #1a1919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.skills-container h1 {
  color: #ffff;
  font-size: 60px;
  border-bottom: 1px solid #ffff;
  width: 300px;
  padding: 10px 0;
  text-align: left;
}

.skills-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-img {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.banner-skills {
  margin: 40px;
  border: 1px solid white;
  padding: 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s all;
}

.banner-skills img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.banner-skills:hover {
  background: #333eee;
}

.experience-container {
  width: 100%;
  padding: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.experience-container h1 {
  color: #ffff;
  font-size: 60px;
  border-bottom: 1px solid white;
  width: 500px;
  padding: 10px 0;
}

.experience-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.experience-content .card {
  border: 1px solid white;
  margin: 10px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  background: #1a1919;
  transition: 0.3s all;
}

.experience-content .card:hover {
  background: #2d2d2e;
}

.experience-content .card img {
  padding: 10px;
}
.experience-content .card h2 {
  margin: 20px 0;
  font-size: 30px;
  color: #ffff;
}
.experience-content .card p {
  color: #ffff;
  font-weight: 200;
  font-size: 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #333eee;
  padding: 50px;
  color: #ffff;
}
