@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .hamburger span {
    font-size: 40px;
    color: white;
  }

  .header-container {
    padding: 30px;
    height: 80px;
  }

  .social-media {
    display: none;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: fixed;
    padding: 30px;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background: #333eee;
  }

  .links-container li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.212);
    margin: 10px 0px;
    transition: 0.5s ease-in-out;
  }

  .links-container li:hover {
    background: rgba(0, 0, 0, 0.212);
    border-radius: 5px;
  }

  .show {
    display: flex;
    transform: translateX(0);
  }

  .logo img {
    width: 200px;
  }

  .home-content {
    flex-direction: column;
  }

  .text-content,
  .img-content {
    width: 100%;
  }

  .text-content{
     text-align: center;
  }

  .btn-service {
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .header-container {
    padding: 30px;
  }

  .hamburger span {
    font-size: 30px;
    color: white;
  }

  .logo img {
    width: 150px;
  }

  .main-container{
     padding: 18px;
  }

  .text-content h3{
     font-size: 30px;
  }

  .text-content p{
     font-size: 15px;
  }

  .btn-service a {
     font-size: 15px;
  }
}

@media (max-width: 375px) {
  .header-container {
    padding: 20px;
  }
}

@media (max-width: 320px) {
  .header-container {
    padding: 20px;
  }
}
