@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .hamburger span {
    font-size: 40px;
    color: white;
  }

  .header-container {
    padding: 30px;
    height: 80px;
  }

  .social-media {
    display: none;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: fixed;
    padding: 30px;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background: #333eee;
  }

  .links-container li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.212);
    margin: 10px 0px;
    transition: 0.5s ease-in-out;
  }

  .links-container li:hover {
    background: rgba(0, 0, 0, 0.212);
    border-radius: 5px;
  }

  .show {
    display: flex;
    transform: translateX(0);
  }

  .logo img {
    width: 200px;
  }

  .home-content {
    flex-direction: column;
  }

  .text-content,
  .img-content {
    width: 100%;
  }

  .text-content {
    text-align: center;
  }

  .btn-service {
    margin: 0 auto;
  }

  .about-content {
    flex-direction: column-reverse;
    padding: 0px;
    width: 100%;
  }

  .img-person {
    width: 100%;
    padding: 0px;
  }
  .img-person img {
    border-radius: 0px 0px 10px 10px;
  }

  .about-container {
    padding: 0;
  }

  .about-text {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .header-container {
    padding: 30px;
  }

  .hamburger span {
    font-size: 30px;
    color: white;
  }

  .logo img {
    width: 150px;
  }

  .main-container {
    padding: 18px;
  }

  .text-content h3 {
    font-size: 30px;
  }

  .text-content p {
    font-size: 15px;
  }

  .btn-service a {
    font-size: 15px;
  }

  .about-text h5 {
    font-size: 18px;
  }

  .about-text h3 {
    font-size: 40px;
  }
  .about-text h6 {
    font-size: 15px;
  }

  .about-text p {
    font-size: 15px;
    line-height: 20px;
  }

  .social-media-icons img {
    width: 40px;
  }

  .social-media-icons img:nth-child(3) {
    width: 50px;
  }
}

@media (max-width: 375px) {
  .header-container {
    padding: 20px;
  }

  .about-text h3 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .header-container {
    padding: 20px;
  }

  .about-content {
    padding: 0px;
  }

  .img-person {
    padding: 0px;
  }

  .about-text h3 {
    font-size: 20px;
  }

  .social-media-icons img {
    width: 30px;
  }

  .social-media-icons img:nth-child(3) {
    width: 40px;
  }
}

@media (max-width: 1024px) {
  .text-content h3 {
    font-size: 40px;
  }

  .text-content p {
    font-size: 18px;
  }
}
